nav {
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    opacity: 0.8;
    z-index: 1;
}

nav .container {
    max-width: 1200px;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    display: none;
}
