<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet-mapping>
        <servlet-name>EditControl</servlet-name>
        <url-pattern>/editp</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>LoadDB</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoadDB</servlet-name>
        <servlet-class>Controller.LoadDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>Controller.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>Controller.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>Controller.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>Controller.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>Controller.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCRUD</servlet-name>
        <servlet-class>Controller.ProductCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProduct</servlet-name>
        <servlet-class>AdminControl.InsertProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>AdminControl.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateControl</servlet-name>
        <servlet-class>AdminControl.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl</servlet-name>
        <servlet-class>Controller.EditControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadDB</servlet-name>
        <url-pattern>/LoadDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/SignUpControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControl</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCRUD</servlet-name>
        <url-pattern>/productcrud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProduct</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateControl</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>
